@use "../media" as *;

header.root {
  @include media(mobile) {
    align-content: center;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem repeat(3, max-content);
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    z-index: 1;
  }
}

main.root {
  @include media(mobile) {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem repeat(5, max-content);
    place-items: center;
    padding: 0 1.6rem;
    z-index: 0;

    & > div.heading {
      align-items: center;
      background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
      border-radius: 1rem;
      display: flex;
      height: 100%;
      justify-content: center;
      grid-column: 1;
      grid-row: 1;
      width: 100%;

      & > h1 {
        color: #FFFFFF;
        font-family: var(--ff);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 3.2rem;
        height: 6.4rem;
        width: 28.6rem;
      }
    }
  }
}

footer.root {
  @include media(mobile) {
    align-items: center;
    background-color: #13183F;
    display: flex;
    grid-column: 1;
    grid-row: 3;
    justify-content: center;
    z-index: 1;
  }
}
