@use "../media" as *;

h1.bm {

  /* Body Medium */
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

h1.bmb {

  /* Body Medium Bold */
  color: #83869A;
  font-family: var(--ff);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
}

h1.bs {

  /* Body Small */
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

h1.bsb {

  /* Body Small Bold */
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
  }
}

h1.hl {

  /* Heading Large */
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5.0rem;
  }
}

h1.hm {

  /* Heading Medium */
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.0rem;
  }
}

h1.hs {

  /* Heading Small */
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.0rem;
  }
}

h1.hxl {

  /* Heading Extra Small */
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 7.1rem;
  }
}
