@use "../media" as *;

/* Body Medium */
h1.bm {
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
  }
}

/* Body Medium Bold */
h1.bmb {
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
  }
}

/* Body Small */
h1.bs {
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
  }
}

/* Body Small Bold */
h1.bsb {
  @include media(mobile) {
    color: #83869A;
    font-family: var(--ff);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
  }
}

/* Heading Large */
h1.hl {
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5.0rem;
  }
}

/* Heading Medium */
h1.hm {
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.0rem;
  }
}

/* Heading Small */
h1.hs {
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.0rem;
  }
}

/* Heading Extra Small */
h1.hxl {
  @include media(mobile) {
    color: #13183F;
    font-family: var(--ff);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 7.1rem;
  }
}
