@mixin mobile {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) 120px;

  & > header {
    background-color: red;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
  }

  & > main {
    background-color: blue;
    grid-column: 1;
    grid-row: 1 / 2;
    z-index: 1;
  }

  & > footer {
    align-items: center;
    background-color: green;
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 36px;
    z-index: 1;
  }
}

@mixin tablet {
  & > header {}

  & > main {}

  & > footer {}
}

@mixin desktop {
  & > header {}

  & > main {}

  & > footer {}
}
