$ff: var(--font-jakarta);

@mixin body($size) {
  @if size==m {
    color: #83869a;
    font-family: $ff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  @else if size==s {
    color: #83869a;
    font-family: $ff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}

@mixin heading($size) {
  @if size==xl {
    color: #13183f;
    font-family: $ff;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 71px;
  }

  @else if size==l {
    font-family: $ff;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 51px;
  }

  @else if size==m {
    color: #ffffff;
    font-family: $ff;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
  }

  @else if size==s {
    color: #13183f;
    font-family: $ff;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
  }
}
